<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ithnain II</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.ithnain.ithnainbeta</string>
				<string>fb000000000000000</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ithnain</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ithnainbeta</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>KZVUoLX0wwQFVoR0l2uIGwXPB3j1oKDA_2vxl</string>
	<key>FacebookAppID</key>
	<string>000000000000000</string>
	<key>FacebookDisplayName</key>
	<string>ithnain</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://ithnainbeta.page.link/success</string>
		<string>https://ithnainbeta.page.link/test2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow ithnain to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Ithnain only needs access to the camera so you can capture and share pictures with your Educator</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow ithnain experiences to access your contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow ithnain to use your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow ithnain to use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow ithnain to use your location</string>
	<key>NSMainNibFile</key>
	<string>LaunchScreen</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ithnain needs access to your microphone so you can send voice notes to your Educator.</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow ithnain to access your device's accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Ithnain only needs access to Photo Library to allow you to pick and share photos to your Educator.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ithnain only needs access to Photo Library to allow you to pick and share photos to your Educator.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow ithnain to access your reminders</string>
	<key>UIAppFonts</key>
	<array>
		<string>GESSTwoBold-Bold.otf</string>
		<string>GESSTwoLight-Light.otf</string>
		<string>GESSTwoMedium-Medium.otf</string>
		<string>SSTArabic-Bold.otf</string>
		<string>SSTArabic-Light.otf</string>
		<string>SSTArabic-Medium.otf</string>
		<string>SSTArabic-Roman.otf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>icomoon.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:ithnainbeta.page.link</string>
	</array>
</dict>
</plist>
